<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css" /> 
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Project 1</title>
    </head>

    <body>       
        <h1>BRANDON'S MOVIE SEARCH PAGE</h1><hr><br>
        
        
        <label class="movie-img"><br>
        <img src={{movie_info['image']}} alt="image" height="700">
        </label>
        <img src="https://im5.ezgif.com/tmp/ezgif-5-7e1e66e79b.gif" style="float:right;margin-right: 10px;"/><br>
        
        <h2>{{movie_info['title']}}</h2><br>
        
        <h3><i>"{{movie_info['tagline']}}"</i></h3><br>
        <h3>Genres: {{", ".join(movie_info['genres'])}}</h3> <br><br><br>
      
       <img src="https://im5.ezgif.com/tmp/ezgif-5-18d2e34a93.gif" style="float:right;margin-right: 10px;"/>
        
        <h4><a href="{{wiki}}" style="color:rgb(228, 200, 200)">VIEW WIKIPEDIA PAGE!</a></h4>
        
        <h5><hr></h5>
    </body>
</html>