{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <b>{{message}}</b>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <form method="POST" action="/register">
        <h3 align="center">Sign up</h3>
        <label for="username">Username:</label>
        <input 
        type="text" 
        name="username"
        class="form-control"
        placeholder="Enter Username"><br>
        <div align="center">
            <button class="btn btn-primary" type="submit">Enter</button>
        </div>
        
    </form>
    
    
</body>
{%endblock%}
</html>